@font-face {
  font-family: 'Pixelant';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/Pixelant-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Pixelant-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Pixelant Regular.ttf.ttf') format('truetype') /* Safari, Android, iOS */
}
html {
	font-family: 'Pixelant';
}
body {
 margin: 0;
 overflow: hidden;
}
a {
	text-decoration: none;
}
main {
	height: 600px;
	/*background: linear-gradient(#ffcaff, #e7b6be, #50dafa10);*/
	background-image: url('sky.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-position-y: -3000px;
	overflow: hidden;
	position: relative;
	animation: sky-morning 10s linear infinite forwards;
}
main img {
	overflow: hidden;
}
header {
}
menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	height: 60px;

}
menu a:first-child {
	padding: 0;
	margin: auto 0;

}
menu div {
	padding: 20px 30px;
	padding-bottom: 10px;


}
menu div:hover {
	border-bottom: 4px solid /*#80aaff*/ #cc0000;
	background-color: #dddddd;
}
menu a {
	color: black;
	font-size: 24px;
	display: 
	border: 1px;
}
#sun {
	opacity:0.9; 
	float: right; 
	margin-top: 50px;
	position: absolute;
	top: 80px;
	right: 300px;
}
#moon {
	opacity:0.9; 
	float: right; 
	margin-top: 50px;
	position: absolute;
	top: 900px;
	right: -400px;
	border-radius: 50%;
}
.fixed-container {
	max-width: 1200px;
	margin: 0 auto;
}
#doge-button {
	width: 40px; 
	height: 40px;
	margin: auto 0;
	margin-left: auto;
	background-image: url('budka1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border: 0;
	border-radius: 50%;
	box-shadow: #00000055 2px 2px 3px 1px;
}
#doge-button:hover {
	box-shadow: #00000055 2px 2px 1px 1px;
	width: 38px;
	height: 38px;
}
#doge-button:active {
	width: 36px;
	height: 36px;
	box-shadow: #00000055 0px 0px 0px 0px;
}
#lock-screen {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	background-color: #00000030;
	display: none;
	opacity: 0;
}
#hello {
	width: 600px;
	height: 300px;
	background-color: #ded0c1;
	border: 10px solid brown;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	font-size: 32px;
	display: flex;
}
#hello img {
	margin-left: 40px;
	margin-top: 30px;
	width: 105px;
	height: 123px;
}
#close {
	background-image: url('close.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 0;
	background-color: transparent;
}
.cloud {
	position: absolute;
	width: 400px;
	top: 250px;
	left: -400px;
	z-index: 1;
	animation: clouds 200s linear infinite alternate forwards;
}
.cloud:hover {
}	
#sakura {
	
	position: absolute;
	bottom: 0;
	z-index: 2;
}
#main-text span{
	font-size: 90px;
	margin-left: 900px;
	margin-top: 100px;
	position: absolute;
	color: white;
	text-shadow: 0px 0px 5px black;
}
#time {
	-webkit-appearance: none;
	width: 460px;
	background-color: transparent;
	z-index: 20;
	float: right;

}
#time::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 40px;
	width: 80px;
	background-image: url('cloud.png');
	background-color: transparent;
	background-position: center;
	background-size: 80px 40px;
	display: block;

	
}
@keyframes clouds{
	0% {
		left: 400px;
	}
	100% {
		left: 90%;
	}
}
@keyframes sky-morning {
	0% {
		background-position-y: -3600px;

	}
	50% {
		}
	100%
	{
		background-position-y: 	0;

	}
}