@font-face {
    font-family: 'Kiwi Maru';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/kiwi-maru-v4-latin_japanese-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kiwi-maru-v4-latin_japanese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kiwi-maru-v4-latin_japanese-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kiwi-maru-v4-latin_japanese-300.svg#KiwiMaru') format('svg'); /* Legacy iOS */
  }
  /* kiwi-maru-regular - latin_japanese */
  @font-face {
    font-family: 'Kiwi Maru';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kiwi-maru-v4-latin_japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kiwi-maru-v4-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kiwi-maru-v4-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kiwi-maru-v4-latin_japanese-regular.svg#KiwiMaru') format('svg'); /* Legacy iOS */
  }
  /* kiwi-maru-500 - latin_japanese */
  @font-face {
    font-family: 'Kiwi Maru';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/kiwi-maru-v4-latin_japanese-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kiwi-maru-v4-latin_japanese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kiwi-maru-v4-latin_japanese-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kiwi-maru-v4-latin_japanese-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kiwi-maru-v4-latin_japanese-500.svg#KiwiMaru') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'Pixelant';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Pixelant-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Pixelant-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Pixelant Regular.ttf') format('truetype') /* Safari, Android, iOS */
  }
/* dotgothic16-regular - japanese */
@font-face {
    font-family: 'DotGothic16';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dotgothic16-v4-japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/dotgothic16-v4-japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dotgothic16-v4-japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dotgothic16-v4-japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dotgothic16-v4-japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dotgothic16-v4-japanese-regular.svg#DotGothic16') format('svg'); /* Legacy iOS */
  }
  /* sawarabi-gothic-regular - japanese */
@font-face {
    font-family: 'Sawarabi Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sawarabi-gothic-v8-japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/sawarabi-gothic-v8-japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sawarabi-gothic-v8-japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sawarabi-gothic-v8-japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sawarabi-gothic-v8-japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sawarabi-gothic-v8-japanese-regular.svg#SawarabiGothic') format('svg'); /* Legacy iOS */
  }
html {
     font-family: 'Pixelant';
      overflow-x: hidden;
      min-width: 320px;
      height: 100%;
 }
 body {
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
 }
 h1 {
     font-weight: 600;
     font-size: 40px;
 }
 a {
     text-decoration: none;
     color: inherit;
 }
 .noscroll {
     overflow: hidden;
 }
 .hidden {
      display: none;
 }
 header {
         box-shadow: 0 0 10px 1px #00000033;
         width: 100%;
         position: fixed;
         background-color: white;
         z-index: 100;
 }
 button {
     padding: 0;
 }
 main {
     margin-top: 80px;
 }
 nav {
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: flex-start;
     height: 60px;
 }
 nav a:first-child {
     padding: 0;
     margin: auto 0;
 
 }
 nav div {
     padding: 20px 30px;
     padding-bottom: 10px;
     display: inline-block;
 
 }
 nav div:hover {
     border-bottom: 4px solid /*#80aaff*/ #cc0000;
     background-color: #dddddd;
 }
 nav a {
     color: black;
     font-size: 24px;
 
     border: 1px;
 }
 #menu-button {
     height: 20px;
     width: 25px;
     padding: 0;
     background-image: url('../img/menu-button.png');
     background-size: contain;
     border: 0;
     background-color: transparent;
     margin: auto 0;
     display: none;
     box-shadow: 0 0 5px 1px #00000011;
     min-width: 25px;
 }
 #menu-small {
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: white;
     font-size: 24px;
     text-align: center;
     padding: 0px 20px;
     box-sizing: border-box;
     top: 35px;
     z-index: 50;
 
 }
 #menu-small div {
     padding: 15px 0 10px 0;
     border-bottom: 1px solid #22222222 ;
 }
 #menu-small a {
     color: black;
 }
 #menu-small a:nth-child(2){
     color: #ac3232 ;
 }
 #logo-wrapper {
     height: 50px;
     margin: auto 0;
 
 }
 .fixed-container {
     max-width: 1200px;
     margin: 0 auto;
     font-size: 24px;
 }
 #doge-button {
     width: 40px; 
     height: 40px;
     margin: auto 0;
     margin-left: auto;
     background-image: url('../img/budka1.png');
     background-position: center;
     background-repeat: no-repeat;
     background-color: white;
     border: 0;
     border-radius: 50%;
     box-shadow: #00000055 2px 2px 3px 1px;
     min-width: 30px;
     margin-right: 0;
 }
 #doge-button:hover {
     box-shadow: #00000055 2px 2px 1px 1px;
     width: 38px;
     height: 38px;
 }
 #doge-button:active {
     width: 36px;
     height: 36px;
     box-shadow: #00000055 0px 0px 0px 0px;
 }
 #lock-screen {
     width: 100%;
     height: 100%;
     z-index: 10;
     position: absolute;
     background-color: #00000030;
     display: none;
     opacity: 0;
 }
 #hello {
     width: 600px;
     height: 300px;
     background-color: #ded0c1;
     border: 10px solid brown;
     position: relative;
     top: 50%;
     left: 50%;
     margin-left: -300px;
     font-size: 32px;
     display: flex;
 }
 #hello img {
     margin-left: 40px;
     margin-top: 30px;
     width: 105px;
     height: 123px;
 }
 #close {
     background-image: url('../img/close.png');
     background-repeat: no-repeat;
     height: 50px;
     width: 50px;
     position: absolute;
     top: 20px;
     right: 20px;
     border: 0;
     background-color: transparent;
 }

 #footer {
     background-color: #ac3232;
     flex: 0 0 auto;
     width: 100%;
     bottom: 0;
     margin-top: auto;
     padding-top: 30px;
     box-sizing: border-box;
 }
 #footer__info {
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
 }
 #footer__info_menu {
     height: 160px;
 }

 #footer__info_menu ul {
     padding: 0;
     margin: 0;
 }
 #footer__info_menu ul>li {
        color: white;
        list-style-type: none;
        font-size: 24px;
        margin-bottom: 10px;      
 }
 #footer__info_menu ul>li:hover {
    color: wheat;
 }
 #footer__info_feedback {
     color: white;
     position: relative;
 }
 #footer__info_feedback button {
        height: 60px;
        padding: auto 80px;
        font-family: 'Pixelant';
        font-size: 24px;
        display: block;
        color: white;
        border: 2px solid white;
        background-color: #ac3232;
        box-shadow: 2px 2px 1px 2px #ffffff33 ;
        min-width: 200px;
        width: auto;
        margin: 0 20px;
 }
 #footer__info_feedback button:hover {
    box-shadow: 0px 0px 1px 0px #ffffff88;
    margin: 2px 0 0 2px;

 }
 #footer__info_contacts {
     color: white;
 }
 #footer__info_contacts a:hover {
     color: wheat   ;
 }
#footer__info_contacts-vk {
    margin-bottom: 10px;
    padding-left: 50px;
    background-image: url('../img/vk-icon.png');
    background-repeat: no-repeat;
    background-position-y: 3px;

}
#footer__info_contacts-email {
    margin-bottom: 10px;
    padding-left: 50px;
    background-image: url('../img/email-icon.png');
    background-repeat: no-repeat;
    background-position-y: 3px;

}
#footer__footer {
    height: auto;
    background-color: #ac3232;
    border-top: 1px solid #f0665488;
    text-align: center;
    padding: 20px 20px;
    font-size: 18px;
    color: #ffffff88;
}

 @media (max-width: 1440px){
     .fixed-container {
         padding: 0 20px;
     }
 }
 @media (max-width: 900px){
     #hello {
         width: 400px;
         height: 200px;
         margin-left: -200px;
         position: absolute;
         left: 5 0%;
         border: 5px solid brown;;
     }
     #hello img {
         margin-left: 20px;
         margin-top: 20px;
         width: 75px;
         height: 88px;
     }
     #close {
         background-image: url('../img/close.png');
         background-repeat: no-repeat;
         background-size: 20px 20px;
         height: 20px;
         width: 20px;
         border: 0;
         background-color: transparent;
         margin-top: 15px;
         margin-right: 15px;
     }
     #footer__info {
         flex-wrap: wrap;
     }
     #footer__info_feedback button {
        margin-left: 0;
        min-width: 140px;
    }
    #footer__info_feedback button:hover{
        box-shadow: 0px 2px 2px 0px #ffffff88;
        margin: 0px 2px 20px 0px;
        padding: 0;
    }
 }
 @media (max-width: 768px){
     header {
         height: 40px;
     }
     #doge-button {
         height: 30px;
         width: 30px;
         background-size: 70%;
     }
     #doge-button:hover {
         box-shadow: #00000055 2px 2px 1px 1px;
         width: 28px;
         height: 28px;
     }
     #doge-button:active {
         width: 26px;
         height: 26px;
         box-shadow: #00000055 0px 0px 0px 0px;
     }
     nav {
         height: 40px;
     }
     #logo {
         height: 30px;
     }
     #logo-wrapper {
         height: 30px;
         margin-right: 20px;
     }
     nav div {
         padding: 10px 15px;
         padding-bottom: 10px;
         font-size: 20px;
     }
 }
 @media (max-width: 585px){
     nav a:nth-child(3){
         display: none;
     }
    nav a:nth-child(4){
         display: none;
     }
    nav a:nth-child(5){
         display: none;
     }
    nav {
         justify-content: space-between;
     }
     #doge-button {
         margin-left: 0;
     }
     #menu-button {
         display: block;
     }
     
 }
 @media (max-width: 340px){
    #footer__info_feedback button {
    margin-left: 0;
    min-width: 100px;
    font-size: 20px;
    height: 50px;
    }
}