@media (max-width: 1440px){
    .fixed-container {
        padding: 0 20px;
    }
}
@media (max-width: 768px){
    header {
        height: 40px;
    }
    main {
        margin-top: 60px;
    }
}
@media (max-width: 585px){
    nav a:nth-child(3){
        display: none;
    }
    nav a:nth-child(4){
        display: none;
    }
    nav a:nth-child(5){
        display: none;
    }
    nav {
        justify-content: space-between;
    }
    #doge-button {
        margin-left: 0;
    }
    #menu-button {
        display: block;
    }

}
@media (max-width: 499px){
    .lesson{
        height: 240px;
        width: 240px;
        font-size: 28px;

    }
    h1 {
        font-size: 26px;
    }
}
