
  nav a:nth-child(4){
	border-bottom: 2px solid /*#80aaff*/ #cc0000;
}
.little {
    width: 30px;
	margin: 0;
}
  #lessons-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
  }
  #lessons-container a {
      color: black;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
  }
  .lesson {
      background-color: #aaaaaa44;
      border-radius: 20px;
      border: 1px solid #aaaaaaaa;
      box-shadow: 0 0 8px 3px #00000033;
      height: 200px;
      width: 200px;
      text-align: center;
      padding-top: 20px;
      box-sizing: border-box;
      font-family: 'Pixelant', 'Kiwi Maru';
  }
  .lesson-name {
      padding-bottom: 15px;
      border-bottom: 2px solid #22222222;
      max-width: 160px;
      margin: 0 auto;
  }
  .lesson:nth-child(4) {
      margin-right: 0;
  }
  .lesson:hover {
      transform: scale(0.98, 0.98);
      transition: 0.3s;
      box-shadow: 0 0 12px 3px #00000033;
  }
  
  .kanji-container {
      padding: 25px 10px;
      color: #222222aa;
      text-align: center;
  
      letter-spacing: 5px;
  
  }
  #bkb-1-1 {
      background-position: center;
      background-repeat: no-repeat;
  
  }
  .lesson-kanji-container {
    
  }
  .lesson-kanji-container p {
      margin: 0;
  }
  .lesson-header {
      width: 100%;
      background-color: #00000010;
      height: 40px;
      position: relative;
      border-radius: 15px;
      border: 1px solid #22222222;
      
      
  }
  .header-name {
      font-size: 22px;
      padding-left: 80px;
      padding-top: 5px;
      color: #222222aa ;
  }
  .lesson-content {
    display: flex;
    padding: 0;
    font-family:'Kiwi Maru', 'Pixelant';
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 0px;
    position: relative;
    box-sizing: border-box;
    max-height: 200px;
  }
  .kanji-gif {
      max-height: 150px;
      max-width: 150px;
      display: inline-block;
      margin: auto 0 auto 20px;
      animation: paused;
      z-index: 1;
  }
  .read {
      width: 280px;
      margin: auto 20px;
      font-size: 24px;
      font-family:ã€€'Kiwi Maru';
      text-align: center;
  }
  .on {
      border-bottom: 2px solid #22222222;
  }
  .examples {
      text-align: left;
      width: 600px;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
  }
  .examples * {
      margin: auto 0;
  }
  .kanji {
      width: 80px;
      white-space: nowrap;
  }
  .transcription {
      width: 250px;
      text-align: center;
      color: #333333aa;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
  }
  .translation {
      width: 180px;
      font-family: 'Pixelant';
      line-height: 1.53em;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      padding-left: 2px;
  }

.arrow {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 4.5px);
    opacity: 0.4;
    height: 30px;
    width: 9px;
  }
  .translation > .arrow {
      transform: rotate(180deg);
  }
  .hide {
      position: absolute;
      top: 15px;
      left: 15px;
      height: 10px;
      width: 10px;
      border: 0;
      padding: 0;
      transform: rotate(0deg);
      transition: ease 0.4s; 
      opacity: 0.5;
  }
  .reversed {
      transform: rotate(180deg);
      transition: ease 0.4s;
  }
  .icon {
      opacity: 0;
  }
  .hidden {
      display: none;
  }
  .curtain {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 82px;
      left: 20px;
      width: 110%;
      border-radius: 20px;
      background-color: transparent;
      z-index: 20;
  
  }
  .curtain::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 180px;
      width: 300px;
      background-image: url('../img/curtain2.png');
      background-position: center;
      background-repeat: no-repeat;
      z-index: 20;
      /*box-shadow: 2px 2px 10px 1px;*/
  
  }
  .curtain-button {
      height: 18px;
      width: 15px;
      position: absolute;
      top: 12px;
      z-index: 1;
      left: 40px;
      border-radius: 50%;
  }