.book__title {
	cursor: pointer;
	position: relative;
	max-width: 320px;
    background-color: #00000000;
    border-radius: 20px;
    border: 2px solid #22222222;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	letter-spacing: 0px;
	text-rendering: optimizeSpeed;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 32px;
	letter-spacing: 0px;
}
#lessons-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
}
#lessons-container a {
	color: black;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
}
nav a:nth-child(4){
	border-bottom: 2px solid /*#80aaff*/ #cc0000;
}
.lesson {
	background-color: #aaaaaa44;
	border-radius: 20px;
	border: 1px solid #aaaaaaaa;
	box-shadow: 0 0 5px 1px #00000033;
	height: 200px;
	width: 200px;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	font-family: 'Pixelant', 'Kiwi Maru';
}
.lesson-name {
	padding-bottom: 15px;
	border-bottom: 2px solid #22222222;
	max-width: 160px;
	margin: 0 auto;
}
.lesson:nth-child(4) {
	margin-right: 0;
}
.lesson:hover {
	transform: scale(0.98, 0.98);
	transition: 0.3s;
	box-shadow: 0 0 12px 3px #00000033;
}

.kanji-container {
	padding: 25px 10px;
	color: #222222aa;
	text-align: center;

	letter-spacing: 5px;
}
.lesson-kanji-container {
	display: flex;
	padding: 0;
	font-family:'Kiwi Maru', 'Pixelant';
	justify-content: space-between;
	border-bottom: 2px solid #22222222;
	padding-bottom: 20px;
	padding-top: 20px;
	letter-spacing: 0px;
	position: relative;
	box-sizing: border-box;
	max-height: 200px;
}
.lesson-kanji-container p {
	margin: 0;
}
.kanji-gif {
	height: 150px;
	width: 150px;
	display: inline-block;
	margin: auto 0 auto 20px;
	animation: paused;
}
.read {
	margin: auto 0;
	font-size: 24px;
	font-family:ã€€'Kiwi Maru';
	text-align: center;
}
.on {
	border-bottom: 2px solid #22222222;
}
.examples {
	text-align: left;
	width: 600px;
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
}
.examples * {
	margin: auto 0;
}
.kanji {
	width: auto;
}
.transcription {
	max-width: auto;
	text-align: center;
	color: #333333aa;
}
.translation {
	width: auto;
	font-family: 'Pixelant';
	line-height: 31px;
}
.hide {
	position: absolute;
	top: calc(50% - 5px);
	right: 20px;
	height: 10px;
	width: 10px;
	border: 0;
	padding: 0;
	transform: rotate(0deg);
	transition: ease 0.4s; 
	opacity: 0.5;
}
.reversed {
	transform: rotate(180deg);
	transition: ease 0.4s;
}
.icon {
	opacity: 0;
}
.hidden {
	display: none;
}
.curtain {
	-webkit-appearance: none;
	width: 20px;
    height: 20px;
	position: absolute;
	top: 102px;
	left: 20px;
	width: 110%;
	border-radius: 20px;
	background-color: transparent;

}
.curtain::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 180px;
	width: 300px;
	background-image: url('../img/curtain2.png');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 10;
	/*box-shadow: 2px 2px 10px 1px;*/

}
.curtain-button {
	height: 18px;
	width: 15px;
	position: absolute;
	top: 60px;
	z-index: 1;
	left: -22px;
	border-radius: 50%;
}