@media (max-width: 1440px){
    .fixed-container {
        padding: 0 20px;
    }
}
@media (max-width: 900px){
    #sakura-wrapper {
        height: 400px;
    }
    #sakura-background {
        height: 400px;
    }
    #sakura {
        height: 380px;
        width: auto;
    }
    .cloud {
        display: none;
    }
}
@media (max-width: 768px){
    #header-space {
        height: 40px;
    }
    #sakura-wrapper {
        height: 300px;
        background-size: 0.7;
        overflow: hidden;
    }
    #sakura {
        height: 280px;
        width: auto;
    }
    .cloud {
        display: none;
    }
}
@media (max-width: 585px){
    #sakura-wrapper {
        height: 250px;
        background-size: 0.7;
    }
    #sakura {
        height: 230px;
        width: auto;
    }
    .cloud {
        display: none;
    }
}