@media (max-width: 1440px){
    .fixed-container {
        padding: 0 20px;
    }
    #sakura-logo-waka {
        height: 200px;
    }
}
@media (max-width: 900px){
    #sakura-wrapper {
        height: 400px;
    }
    #sakura-background {
        height: 400px;
    }
    #sakura {
        height: 380px;
        width: auto;
    }
    .cloud {
        display: none;
    }
    #whiteboard2 {
        margin-top: 400px;
    }
}
@media (max-width: 768px){
    #sakura-wrapper {
        margin-top: -40px;
        height: 300px;
        background-size: 0.7;
        overflow: hidden;
    }
    #sakura {
        height: 280px;
        width: auto;
    }
    .cloud {
        display: none;
    }
    #whiteboard2 {
        margin-top: 300px;
    }
}
@media (max-width: 585px){
    #sakura-wrapper {
        height: 250px;
        background-size: 0.7;
    }
    #sakura {
        height: 230px;
        width: auto;
    }
    .cloud {
        display: none;
    }
    #whiteboard2 {
        margin-top: 25  0px;
    }
}