@media (max-width: 1440px){
    .fixed-container {
        padding: 0 20px;
    }
    #sakura-logo-waka {
        height: 200px;
    }
}
@media (max-width: 900px){
    #sakura-wrapper {
        height: 400px;
    }
    #sakura-background {
        height: 400px;
    }
    #sakura {
        height: 380px;
        width: auto;
    }
    .cloud {
        display: none;
    }

    #title {
        margin-top: 400px;
        font-size: 70px;
    }
    #title::after{
        margin: 15px auto 25px auto;
    }
}
@media (max-width: 768px){
    #sakura-wrapper {
        margin-top: -40px;
        height: 300px;
        background-size: 0.7;
        overflow: hidden;
    }
    #sakura {
        height: 280px;
        width: auto;
    }
    .cloud {
        display: none;
    }
    #title {
        margin-top: 280px;
        font-size: 50px;
    }
    #info-container {
        flex-direction: column;
    }
}
@media (max-width: 585px){
    #sakura-wrapper {
        height: 250px;
        background-size: 0.7;
    }
    #sakura {
        height: 230px;
        width: auto;
    }
    .cloud {
        display: none;
    }
    #title {
        margin-top: 230px;
        font-size: 45px;
        
    }
    #title::after{
        margin: 10px auto 20px auto;
    }
}
@media (max-width: 410px){
    #title {
        font-size: 36px;
        
    }
    #title::after{
        border: 1px solid white;
        background-color: white;
    }
}