
#header-space {
	height: 1px; 
	width: 100%; 
	background: transparent;

}
#sakura-background {
	height: 3000px;
	/*background: linear-gradient(#ffcaff, #e7b6be, #50dafa10);*/
	background-image: url('../img/sky-cut2.png');
	background-position-y: -1400px;
	background-repeat: repeat-x;
	/*background-position-y: -3000px;*/
	background-attachment: fixed;
	overflow: hidden;
	position: relative;
	/*animation: sky-morning 10s linear infinite forwards;*/
	
}
#sakura-wrapper {
	position: fixed;
	z-index: -1;
	height: 600px;
	width: 100%;
	margin-top: -20px;
	overflow: hidden;

}

#sun {
	opacity:0.9; 
	float: right; 
	margin-top: 50px;
	position: absolute;
	top: 80px;
	right: 300px;
}
#moon {
	opacity:0.9; 
	float: right; 
	margin-top: 50px;
	position: absolute;
	top: 900px;
	right: -400px;
	border-radius: 50%;
}

#lock-screen {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	background-color: #00000030;
	display: none;
	opacity: 0;
}
#hello {
	width: 600px;
	height: 300px;
	background-color: #ded0c1;
	border: 10px solid brown;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -300px;
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}
#hello img {
	margin-left: 40px;
	margin-top: 30px;
	width: 105px;
	height: 123px;
}

.cloud {
	position: absolute;
	width: 300px;
	top: 300px;
	left: 0;
	z-index: 3;
	animation: clouds 200s linear infinite alternate forwards;
}
#sakura {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 20px;
	position: absolute;
	bottom: 0;
	z-index: 2;
}
#sakura-text{
	font-size: 90px;
	right: 200px;
	top: 150px;
	position: absolute;
	color: white;
	text-shadow: 0px 0px 5px black;
	z-index: 10;
}
#sakura-logo__container {
	position: relative;
}
#sakura-logo {
	position: absolute;
	top: 0px;
	right: 400px;
}
#sakura-logo_waka {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

}
#sakura-logo_ranai {
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	z-index: 0;
	opacity: 0;
}
#sakura-logo img{
	height: 300px;
}
.sakura-logo-up{
	top: -400px;
}
.sakura-logo-down{
	top: 700px;
}
#time {
	-webkit-appearance: none;
	width: 460px;
	background-color: transparent;
	z-index: 20;
	float: right;

}
#time::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 40px;
	width: 80px;
	background-image: url('../img/cloud.png');
	background-color: transparent;
	background-position: center;
	background-size: 80px 40px;
	display: block;

	
}

#title {
	height: auto; 
	width: 100%; 
	background: transparent; 
	margin-top: 600px;
	color: black;
	text-align: center;
	font-size: 80px;
	font-weight: 500;
}
#title::after{
	display: block;
	content: '';
	width: 120px;
	height: 1px;
	margin: 20px auto 30px auto;
	border-bottom: 5px solid #fff;
}
#whiteboard {
	height: auto; 
	width: 100%; 
}
/*#whiteboard::before {
	display: block;
	content: "";
	height: 60px;
	background: linear-gradient(#ffffff00, #ffffff);
}*/
#info-container {
	display: flex;
	padding-bottom: 60px;
	justify-content: space-evenly;
	background-color: white;
	
	
}
.info-container_unit h1 {	
	text-align: center;
}
.info-container_unit {
	padding: 0 20px;
	text-align: center;
	flex-basis: 300px;
}
.info-container_unit_img {
	height: 120px;
	margin: 30px auto 30px auto;
	opacity: 0.7;
	
}

@keyframes clouds{
	0% {
		left: 800px;
	}
	100% {
		left: 90%;
	}
}
@keyframes sky-morning {
	0% {
		background-position-y: -3600px;

	}
	50% {
		}
	100%
	{
		background-position-y: 	0;

	}
}