/* kiwi-maru-300 - latin_japanese */
@font-face {
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/kiwi-maru-v4-latin_japanese-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/kiwi-maru-v4-latin_japanese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/kiwi-maru-v4-latin_japanese-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/kiwi-maru-v4-latin_japanese-300.svg#KiwiMaru') format('svg'); /* Legacy iOS */
}
/* kiwi-maru-regular - latin_japanese */
@font-face {
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/kiwi-maru-v4-latin_japanese-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/kiwi-maru-v4-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/kiwi-maru-v4-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/kiwi-maru-v4-latin_japanese-regular.svg#KiwiMaru') format('svg'); /* Legacy iOS */
}
/* kiwi-maru-500 - latin_japanese */
@font-face {
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/kiwi-maru-v4-latin_japanese-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/kiwi-maru-v4-latin_japanese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/kiwi-maru-v4-latin_japanese-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/kiwi-maru-v4-latin_japanese-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/kiwi-maru-v4-latin_japanese-500.svg#KiwiMaru') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Pixelant';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/Pixelant-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Pixelant-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Pixelant Regular.ttf') format('truetype') /* Safari, Android, iOS */
}
html {
	font-family: 'Pixelant';
	 overflow-x: hidden;
}
body {
 margin: 0;
 overflow-x: hidden;
}
h1 {
	font-weight: 600;
	font-size: 40px;
}
a {
	text-decoration: none;
}
main {
	
}
header {
		box-shadow: 0 0 10px 1px #00000033;
}
menu {
	margin: 0;
	padding: 0;
	display: flex;
	max-width: 1200px;
	justify-content: flex-start;
	height: 60px;
}
menu a:first-child {
	padding: 0;
	margin: auto 0;

}
menu div {
	padding: 20px 30px;
	padding-bottom: 10px;

}
menu a:nth-child(3){
	border-bottom: 2px solid /*#80aaff*/ #cc0000;
}
menu div:hover {
	border-bottom: 4px solid /*#80aaff*/ #cc0000;
	background-color: #dddddd;
}
menu a {
	color: black;
	font-size: 24px;

	border: 1px;
}
.fixed-container {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 24px;
}
#doge-button {
	width: 40px; 
	height: 40px;
	margin: auto 0;
	margin-left: auto;
	background-image: url('budka1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border: 0;
	border-radius: 50%;
	box-shadow: #00000055 2px 2px 3px 1px;
}
#doge-button:hover {
	box-shadow: #00000055 2px 2px 1px 1px;
	width: 38px;
	height: 38px;
}
#doge-button:active {
	width: 36px;
	height: 36px;
	box-shadow: #00000055 0px 0px 0px 0px;
}
#lock-screen {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	background-color: #00000030;
	display: none;
	opacity: 0;
}
#hello {
	width: 600px;
	height: 300px;
	background-color: #ded0c1;
	border: 10px solid brown;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	font-size: 32px;
	display: flex;
}
#hello img {
	margin-left: 40px;
	margin-top: 30px;
	width: 105px;
	height: 123px;
}
#close {
	background-image: url('close.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 0;
	background-color: transparent;
}
#lessons-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#lessons-container a {
	color: black;
}
.lesson {
	background-color: #aaaaaa44;
	border-radius: 20px;
	border: 1px solid #aaaaaaaa;
	box-shadow: 0 0 8px 3px #00000033;
	height: 200px;
	width: 200px;
	margin-right: 35px;
	margin-bottom: 35px;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
}
.lesson-name {
	padding-bottom: 15px;
	border-bottom: 2px solid #22222222;
	max-width: 160px;
	margin: 0 auto;
}
.lesson:nth-child(4) {
	margin-right: 0;
}
.lesson:hover {
	transform: scale(0.98, 0.98);
	transition: 0.3s;
	box-shadow: 0 0 12px 3px #00000033;
}

.kanji-container {
	padding: 25px 10px;
	color: #222222aa;
	text-align: center;

	letter-spacing: 5px;

}
#bkb-1-1 {
	/*background-image: url('bkb1/les1.png');*/
	background-position: center;
	background-repeat: no-repeat;

}
.lesson-kanji-container {
	display: flex;
	padding: 0;
	font-family:'Kiwi Maru', 'Pixelant';
	justify-content: space-between;
	border-bottom: 2px solid #22222222;
	padding-bottom: 20px;
	padding-top: 20px;
	letter-spacing: 0px;
	position: relative;
}
.kanji-gif {
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-left: 20px;
}
.read {
	margin: auto 0;
	font-size: 26px;
	font-family:ã€€'Kiwi Maru';
	text-align: center;
}
.on {
	border-bottom: 2px solid #22222222;
}
.examples {
	text-align: left;
	width: 600px;
	display: flex;
	justify-content: space-between;
}
.examples div{

}
.kanji {
	width: 80px;
}
.transcription {
	max-width: 250px;
	text-align: center;
	color: #333333aa;
}
.translation {
	width: 180px;
	font-family: 'Pixelant';
	line-height: 38px;
}
.hide {
	position: absolute;
	top: 15px;
	left: -20px;
	height: 10px;
	width: 10px;
	border: 0;
	padding: 0;
	transform: rotate(0deg);
	transition: ease 0.4s; 
	opacity: 0.5;
}
.reversed {
	transform: rotate(180deg);
	transition: ease 0.4s;
}
.icon {
	opacity: 0;
}
.hidden {
	display: none;
}
.curtain {
	-webkit-appearance: none;
	width: 20px;
    height: 20px;
	position: absolute;
	top: 82px;
	left: 20px;
	width: 110%;
	border-radius: 20px;
	background-image: url('doge2.png');
	background-color: transparent;

}
.curtain::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 180px;
	width: 300px;
	background-image: url('curtain1.png');
	background-position: center;
	z-index: 10;
	box-shadow: 2px 2px 10px 1px;

}
.curtain-button {
	height: 18px;
	width: 15px;
	position: absolute;
	top: 60px;
	z-index: 1;
	left: -22px;
	border-radius: 50%;
}