<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	
    {% block headers %}
    {% endblock %}
	
	<title>{% block title %}{% endblock %}</title>
	

</head>
<body>

	<header>
		<nav class="fixed-container">
			<button id="menu-button" class="hidden"></button>
			<a href="/" id="logo-wrapper"><img id="logo" src="{% static 'img/logo-long.png' %}"></a>
			<a href="#"><div>Лексика</div></a>
			<a href="/kanji"><div>Кандзи</div></a>
			<a href="#"><div>Грамматика</div></a>
			<button id="doge-button"></button>
		</nav>
	</header>
	<main>
		<div id="lock-screen">
		<div id="hello">
			<img id="img" src="{% static 'img/doge2.gif' %}">
			<button id="close"></button>
		</div>
	</div>
		<div id="menu-small" class="hidden">
			<a href="#"><div>Лексика</div></a>
			<a href="/kanji"><div>Кандзи</div></a>
			<a href="#"><div>Грамматика</div></a>
		</div>

        {% block main %}

        {% endblock %}

	</main>
	<footer>


	</footer>
</body>
</html>