<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/kanji.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lesson.js' %}"></script>
	<title>BKB1 Lesson 1</title>
</head>
<body>
<header>
		<menu class="fixed-container">
			<a href="/"><img src="{% static 'img/logo-long.png' %}"></a>
			<a href="#"><div>Лексика</div></a>
			<a href="/kanji"><div>Кандзи</div></a>
			<a href="#"><div>Грамматика</div></a>
			<button id="doge-button"></button>		
		</menu>
</header>
<main>
	<div class="fixed-container">
		<h1>Lesson 1</h1>
		<div class="lesson-kanji-container">
			<div class="icon hidden">日</div>
			
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/nichi.gif' %}">
			<div class="read">
				<div class="on">
					ひ/-び、か
				</div>
				<div class="kun">
					ニチ/ニ、(-じつ)
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					日本<br>
					日<br>
					日曜日<br>
					３日
				</div>
				<div class="transcription">
					に・ほん/にっ・ぽん<br>
					ひ<br>
					にち・よう・び<br>
					みっ・か<br>
				</div>
				<div class="translation">
					Япония<br>Солнце, день<br>Воскресенье<br>Третье число
				</div>
			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/tsuki.gif' %}">
			<div class="read">
				<div class="on">
					つき
				</div>
				<div class="kun">
					ゲツ、-ガツ
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					月<br>
					1月<br>
					月曜日<br>
					1ヶ月
				</div>
				<div class="transcription">
					つき<br>
					いち・がつ<br>
					げつ・よう・び<br>
					いっかげつ<br>
				</div>
				<div class="translation">
					Луна, месяц<br>Январь<br>Понедельник<br>Один месяц
				</div>

			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/Ki.gif' %}">
			<div class="read">
				<div class="on">
					き
				</div>
				<div class="kun">
					モク、ボク
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					木<br>
					木曜日<br>
					木村
				</div>
				<div class="transcription">
					き<br>
					もく・よう・び<br>
					き・むら
				</div>
				<div class="translation">
					Дерево<br>Четверг<br>Японская фамилия
				</div>

			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/yama.gif' %}">
			<div class="read">
				<div class="on">
					やま
				</div>
				<div class="kun">
					サン
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					山<br>
					富士山<br>
					山下<br>
					火山
				</div>
				<div class="transcription">
					やま<br>
					ふ・じ・さん<br>
					やま・した<br>
					か・ざん
				</div>
				<div class="translation">
					Гора<br>Фудзи<br>Японская фамилия<br>Вулкан
				</div>
			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/kawa.gif' %}">
			<div class="read">
				<div class="on">
					かわ/-がわ
				</div>
				<div class="kun">
					(セン)
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					川<br>
					<nobr>ナイル川</nobr><br>
	
				</div>
				<div class="transcription">
					かわ<br>
					はいる・かわ
					
				</div>
				<div class="translation">
					Река<br>Нил
				</div>
			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/den.gif' %}">
			<div class="read">
				<div class="on">
					た/-だ
				</div>
				<div class="kun">
					デン
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					田んぼ<br>
					山田<br>
					田中<br>
					水田
				</div>
				<div class="transcription">
					たんぼ<br>
					やま・だ<br>
					た・なか<br>
					すい・でん
				</div>
				<div class="translation">
					Рисовое поле<br>Японская фамилия<br>Японская фамилия<br>Поле с канавами
				</div>
			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/hito.gif' %}">
			<div class="read">
				<div class="on">
					ひと
				</div>
				<div class="kun">
					ジン、ニン
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					人<br>
					3人<br>
					日本人
					
				</div>
				<div class="transcription">
					ひと<br>
					さん・にん<br>
					に・ほん・じん
					
				</div>
				<div class="translation">
					Человек<br>3 человека<br>Японец
				</div>
			</div>
		</div>
		<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/kuchi.gif' %}">
			<div class="read">
				<div class="on">
					くち/-ぐち
				</div>
				<div class="kun">
					コウ
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					口<br>
					入口<br>
					出口<br>
					人口
				</div>
				<div class="transcription">
					くち<br>
					いり・ぐち<br>
					で・ぐち<br>
					じん・こう
				</div>
				<div class="translation">
					Рот<br>Вход<br>Выход<br>Население
				</div>
			</div>
	</div>
	<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/kuruma.gif' %}">
			<div class="read">
				<div class="on">
					くるま
				</div>
				<div class="kun">
					シャ
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					車<br>
					自動車<br>
					電車
				</div>
				<div class="transcription">
					くるま<br>
					じ・どう・しゃ<br>
					でん・しゃ
				</div>
				<div class="translation">
					Машина<br>Автомобиль<br>Поезд
				</div>
			</div>
	</div>
	<div class="lesson-kanji-container">
			<img class="hide" src="{% static 'img/hide-button.png' %}">
			<img class="curtain-button" src="{% static 'img/curtain-icon.png' %}">
			<input type="range" name="" class="curtain hidden">
			<img class="kanji-gif" src="{% static 'kanji%20gif/mon.gif' %}">
			<div class="read">
				<div class="on">
					(かど)
				</div>
				<div class="kun">
					モン
				</div>				
			</div>
			<div class="examples">
				<div class="kanji">
					門<br>
					専門
				</div>
				<div class="transcription">
					もん<br>
					せんもん
				</div>
				<div class="translation">
					Ворота<br>Специальность
				</div>
			</div>
	</div>
</main>
</body>
</html>