{% extends 'base.html' %}
{% load static %}

{% block title %}Doushite nihongo{% endblock %}

{% block headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block main %}
    <img id="sakura" src="{% static 'img/sakura5.gif' %}">
    <img class="cloud" src="{% static 'img/cloud.png' %}">
{% endblock %}
