<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/kanji.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<title>Кандзи</title>

</head>
<body>
<header>
		<menu class="fixed-container">
			<a href="/"><img src="{% static 'img/logo-long.png' %}"></a>
			<a href="#"><div>Лексика</div></a>
			<a href="/kanji"><div>Кандзи</div></a>
			<a href="#"><div>Грамматика</div></a>
			<button id="doge-button"></button>		
		</menu>
</header>
<main>
	<div class="fixed-container">
		<h1>Basic Kanji Book I</h1>
		<div id="lessons-container">
			<a href="kanji/bkb1-1.html"><div class="lesson">
				<div class="lesson-name">Lesson 1</div>
				<div class="kanji-container">
					日月木山川田人口車門
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 2</div>
				<div class="kanji-container">
					火水金土子女学生先私
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 3</div>
				<div class="kanji-container">
					一二三四五六七八九十百千万円年
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 4</div>
				<div class="kanji-container">
					上下中大小本半分力何
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 5</div>
				<div class="kanji-container">
					明休体好男林森間畑岩
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 6</div>
				<div class="kanji-container">
					目耳手足雨竹米貝石糸
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 7</div>
				<div class="kanji-container">
					花茶肉文字物牛馬鳥魚
				</div>	
			</div></a>
			<a href=""><div class="lesson">
				<div class="lesson-name">Lesson 8</div>
				<div class="kanji-container">
					新古長短高安低暗多少
				</div>	
			</div></a>


		</div>
	</div>
	
</main>
</body>
</html>